bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/appsettings.json
/appsettings.Development.json
/StudentAssets
/.vs/Skinet/DesignTimeBuild/.dtbcache.v2
*.xml
/__MACOSX
/.vs/ProjectEvaluation/skinet.projects.v7.bin
/.vs/Skinet/FileContentIndex
/Skinet.API.http
